API_URL=
PUBLIC_API_URL=
DATABASE_URL=

CLERK_OAUTH_CLIENT_SECRET=
CLERK_OAUTH_CLIENT_ID=

JWT_SECRET=
CLERK_FRONTEND_API=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=

ANTHROPIC_API_KEY=<your-anthropic-api-key>
OPENAI_API_KEY=<your-openai-api-key>
GOOGLE_GENERATIVE_API_KEY=<your-google-generative-api-key>
DEEPSEEK_API_KEY=<your-deepseek-api-key>

POLAR_ACCESS_TOKEN=
POLAR_PRODUCT_ID=
POLAR_SERVER=
POLAR_CREDITS_METER_ID=
